---
import {
  isCurrentPath,
  type DocPage,
  type SidebarSection,
} from "../../lib/docs";

type Props = {
  currentPath: string;
  homePage?: DocPage;
  sections: SidebarSection[];
};

const { currentPath, homePage, sections } = Astro.props;
---

<div class="w-full">
  <div class="pb-4">
    <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Overview</h4>
    <div class="grid grid-flow-row auto-rows-max text-sm">
      {
        homePage && (
          <a
            href={homePage.url}
            class:list={[
              "group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline",
              isCurrentPath(currentPath, homePage.path)
                ? "font-medium text-foreground"
                : "text-muted-foreground",
            ]}
          >
            {homePage.title}
          </a>
        )
      }
    </div>
  </div>

  {
    sections.map((section) => (
      <div class="pb-4">
        <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
          {section.title}
        </h4>
        {section.entries.length > 0 && (
          <div class="grid grid-flow-row auto-rows-max text-sm">
            {section.entries.map((entry) => (
              <a
                href={entry.url}
                class:list={[
                  "group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline",
                  isCurrentPath(currentPath, entry.path)
                    ? "font-medium text-foreground"
                    : "text-muted-foreground",
                ]}
              >
                {entry.title}
              </a>
            ))}
          </div>
        )}
      </div>
    ))
  }
</div>
